table .titleCell {
   max-width: 150px;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

table .orderCell {
   font-weight: bold;
}

table .descriptionCell {
   max-width: 300px;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

table .btnsContainer {
   display: flex;
   gap: 10px;
   align-items: center;
   justify-content: center;
}

table .btnsContainer button {
   text-transform: capitalize;
}